p {
    font-size:larger;
    text-align: justify;

}
section {
    margin-bottom: 100px; 
}
.banner img {
    width: 100%;
    height: 250px; /* Altura fixa do banner */
    object-fit: cover; 

}

.gradiente {
    background: linear-gradient(95deg, #f4c536, #e5bee0);
    display: inline;
    font-size: 25px; 
    font-weight: bold; 
    text-align: center; 
    margin: 50px 0; 
    border-radius: 4px;
}
.instituto {
    float: right;
    margin-left: 20px;
    max-width: 300px;
    width: 100%;
    padding-top: 45px;
    
}
.teatro {
    float: right;
    margin-left: 20px;
    max-width: 300px;
    width: 100%;
    padding-top: 45px;
    
}

.rodape {
    display: flex; /* Usa flexbox */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    position: fixed; /* Fixa o rodapé na posição */
    bottom: 0; /* Posiciona no canto inferior */
    left: 0; /* Alinha com o canto esquerdo */
    width: 100%; /* Ocupa toda a largura */
    height: 60px; /* Altura do rodapé */
    font-size: 15px; /* Tamanho da fonte */
    margin: 0; /* Remove margem */
    padding: 0; /* Remove padding */
    background-color: #f4c536; /* Cor de fundo */
    color: aliceblue; /* Cor do texto */
}
